//Colors
$background: #121212;
$tag: #698fd0;
$reading: #02a9ff;
$paused: #9256f3;
$completed: #68d639;
$planning: #233ef0;
$dropped: #f779a4;
$read: #2f47d0;
$owned: #0aff06a2;
$not-owned: #d62b2b;

//Status
$finished: #53d528;
$ongoing: #fbce3b;
$hiatus: #e23e3e;

//Base Colors
$white: #ffffff;
$black: #000000;

//Text
$emphasis_high: 87%;
$emphasis_medium: 60%;
$emphasis_disabled: 38%;

//Background
$background_00dp: #ffffff00;
$background_01dp: #ffffff0d;
$background_02dp: #ffffff12;
$background_03dp: #ffffff14;
$background_04dp: #ffffff17;
$background_06dp: #ffffff1c;
$background_08dp: #ffffff1f;
$background_12dp: #ffffff24;
$background_16dp: #ffffff26;
$background_24dp: #ffffff29;

//Media Breakpoints
$br-phone: 600px; //Max
$br-tablet: 600px; //Min
$br-ltablet: 768px; //Min
$br-laptop: 992px; //Min
$br-desktop: 1200px; //Min
